@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.conteudo {
    display: flex;
}

.buttons button {
    background: #0070ba;
    width: 250px;
    height: 45px;
    border-radius: 17px;
    border: 0;
}

.buttons button a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 13em;
}
.imagem img{
    margin-left: 5em;
    margin-top: 10em;
}