@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.conteudo {
    display: flex;
}

.buttonscomofunciona button {
    background: #0070ba;
    width: 250px;
    height: 45px;
    border-radius: 17px;
    border: 0;
}

.buttonscomofunciona button a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.buttonscomofunciona {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 7em;
    margin-left: 5rem;
    
}
.imagemcomofunciona img{
    margin-left: 9em;
    margin-top: 3em;
    width: 80vh;
}