.main{
    background: #fff;
    padding: 3em;
}

.titulo{
    font-weight: 600;
    font-size: 35px;
    line-height: 61px;
    color: #012169;
    text-align: center;
    margin-top: 35px;
}

#cartao2{
    width: 260px;
    height: 340px;
    margin-top: 25px;
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.96) 0%, rgba(244, 244, 244, 0) 100%);
    border-radius: 45.9271px;
    margin-left: 11px;
    border: solid 2px #012169;
}


#imagem2{
    border-radius: 30.6181px;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 35px;
}


#profissao{
    color: #0070ba;
    font-weight: 500;
}


#texto{
    font-size: 14px;
    text-align: center;
}

#nome{
  color: #012169;
}


