#fundo{
    background-color: rgba(1, 33, 105, 0.08);
}

.logo{
    width: 100px;
    margin-left: -5px;
    
}

#navbar{
  font-size: 14px;
}

.navbarletra a{
    color: #012169;
    font-size: 18px;
    font-weight: 400;
}

#navbarletra:hover{
    color: #3872f5;
}

#criarconta:hover{
    color: #3872f5;
}

#criarconta{
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    color: #012169;
    margin-right: 15px;
    font-size: 18px;
}

.entrar{
    color: #FFFFFF;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background: #012169;
    border-radius: 8px;
    margin-right: 25px;
    width: 115px;
    height: 49px;
    font-size: 18px;
}

#entrar:hover{
    color: #012169;
    background-color: rgba(1, 33, 105, 0.08);
}


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  @media (min-width: 924px){
  .minha-classe {
      justify-content: center!important;
  }
}

  @media (min-width: 768px){
  .minha-classe {
      justify-content: center!important;
  }
}