footer {
  display: flex;
  overflow: hidden;
  background-color: #01216914;
  text-align: center;
  padding: 0.5rem;
}

.footer--logo {
  margin-top: 2em;
  width: 110px;
}

.footer--topicos {
  color: #0070BA;
  margin-left: 3em;
  
}

.footer--topicos h5 {
  display: flex;
}

.footer--topicos a {
  display: flex;
  margin-top: 0.2em;
  font-size: 0.6em;
  text-decoration: none;
  color: #0070BA;
}

.footer--topicos a:hover {
  color: #0070ba;
  text-decoration: underline;
}

.footer--topicos h5 {
  font-size: 1em;
  text-align: center;
}

.footer--topicos--copy {
  display: flex;
  justify-content: center;
  font-size: 16.5px;
  font-weight: 600;
  margin-top: 1em;
  color: #012169;
  margin-left: 3.5rem;
}