.conteudo {
    margin-top: 0;
    display: flex;
}

.header--logo {
    width: 110px;
    margin-left: 35px;
}

.main--img img {
    width: 110%;
}

.main--login {
    width: 363px;
    height: 30em;
    border-radius: 30px;
    background: #012169;
    margin-left: 15em;
    margin-top: 2em;
}

.main--inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.button-email,
.button-senha {
    margin-top: 10px;
    background: #EAE6E6;
    border-radius: 8px;
    width: 303px;
    height: 53px;
}

.btn-entrar {
    font-size: 20px;
    font-weight: 700;
    color: #012169;
    background: #EAE6E6;
    width: 120px;
    height: 53px;
    border-radius: 8px;
    cursor: pointer;
}

.main--inputs a {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.btn--login--google,
.btn--login--linkedin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 303px;
    height: 53px;
    border-radius: 8px;
    cursor: pointer;
}

.img-redes{
    width: 40px;
}