.conteudo h1{
    color: #012169;
    background-color: #00000014;
    display: flex;
    font-size: 40px;
}

.conteudo .lorem{
color: #000;
}

.lorem{
    /* width: 700px;
    height: 700px; */
    font-style:bold;
    font-weight: 450;
    font-size: 25px;
    line-height: 50px;
    text-align: center; 

}

.duvidas{
    color: #012169;
    background-color: #00000014;
    display: flex;
    font-size: 40px;
}